nav{
	text-align:center;
	margin:50px;
	font-size: 20;
}
body{
	margin:50px;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	line-height: 30px;
}
#thin{
	font-weight:200;
}
.main{
	font-weight: 50;
}
.red{
	color:#C0392B;
}
.gray{
	color:#BDC3C7;
	text-decoration: none;
}
p::first-letter { 
    font-size: 500%;
    color: #BDC3C7;
}
li{
	display:inline;
	text-align:center;
	padding:5px;
	margin: 0px 110px 0px 0px;
	border-bottom: 1px solid #BDC3C7;
}
.mainimg{
	min-width: 100%;
}
.right{
	float:right;
	color:#C0392B;
	font-weight: 700;
}