body{
  font-family: 'lato', sans-serif;
  font-weight: 300;
  color: #7F8C8D;
  font-size: 20px;
  margin:5%;
  line-height: 1.5em;
}
.fadedText{
  font-weight: 300;
  color: #7F8C8D;
}
.header{

}
.footer{
	margin-top: 4em;
}
.right{
	float:right;
	color: #C0392B;
	font-weight: 900;
	padding-top: 1.5em
}
.article{
	margin-top: 5em;
}
#title{
  color: #C0392B;
  font-weight: 300;
}
#subTitle{
  font-weight: 300;
  color: black;
}
#headerNav a{
  color: #7F8C8D;
  text-decoration:none;
  font-size: 1em;
  padding-bottom: .3em;
  border-bottom: .05em solid #7F8C8D;
  margin: 0em 3em 0em 0em;
}
#footerNav a{
  color: #C0392B;
  text-decoration:none;
  font-size: .7em;
  padding-bottom: .2em;
  padding-right: .5em;
  border-right: .1em solid #7F8C8D;
}
#headerNav{
  text-align: left;
}
#footerNav{
  text-align: left;
}
#mainContent{
  margin-top: 3em;
  padding-bottom: 2em;
  border-bottom: .05em solid #7F8C8D;
  color: black;
}
p{
	color:black;
}
img{
	width:100%;
	padding-bottom: 2em;
}
#signature{
	font-size: .7em;
}
#dropCap{
	padding-top: .3em;
	padding-bottom: .1em;
	font-size: 4.5em;
	padding-right: .2em;
	float:left;
	color: #7F8C8D;
}