body{
	font-family: Helvetica;
	font-weight: 10;
	margin: 0px;
	background-color: #ECF0F1;
	text-align: center;
}
header{
	border-bottom: #E67E22;
}
.noDec{
	text-decoration: none;
	color: white;
}
.noDec:hover{
	color: white;
}
.heatheredText{
	color: #a0a0a0;
}
.mainNav{
	text-align: right;
	display: inline;
	padding: 1em  1em .8em 1em;
	margin: 1em 0em 0em 0em;
	text-decoration: none;
	color: #D35400;
	font-weight: 300;
	cursor:pointer;
}
.mainNav:hover{
	border-bottom:.1em solid #E67E22;
}

#hiddenLogin{
	opacity: 0;
}

nav{
	text-align: right;
	position: fixed;
	top: 10px;
	left: 0px;
	min-width: 100%;
	background-color: white;
	padding:0em 0em 0em 0em;
}
#companylogo{
	z-index:1000;
	position: fixed;
	padding-left: 1em;
	margin-top: .5em;
	cursor:pointer;
}
#fixed_height{
	max-height:35px;
}
#loginButton{
	padding-top:.3em;
	padding-bottom: .3em;
	background-color: white;
	border-radius: 6px;
	color: #D35400;
	border: .1em solid #E67E22;
}
#loginButton:hover{
	color: white;
	background-color: #E67E22;
}
#loginButton:active{
	color: white;
	background-color: #E67E22;
}
#side_margin{
	margin-left: 1em;
	margin-right: 2em;
}
#right_margin{
	margin-right: 2em;
}
#img_cover{
	min-width: 100%;
	position: fixed;
	top:50px;
	left: 0px;
}
.signIn{
	background-color: white;
	border:.1em solid #E67E22;
	position: absolute;
	margin-left: 33%;
	width: 400px;
	top: 100px;
	padding: 2em;
	z-index: 2000;
}

#regionSelector{
	position: absolute;
	top: 55px;
	left: 5px;
	opacity: .8;
}
.media{
	height:300px;
	width: 40%;
	position: relative;
	margin: 2em;
	padding: 2em;
	background-color: white;
	float: left;
	top: 70px;
}
.jobs{
	height:300px;
	width: 20%;
	position: relative;
	margin: 2em;
	padding: 2em;
	background-color: white;
	float: left;
	top: 50px;
}
.events{
	height:300px;
	width: 20%;
	position: relative;
	margin: 2em;
	padding: 2em;
	background-color: white;
	float: left;
	top: 50px;
}
//css for login box

.wrap{
  padding:60px 0;
  font-size:60px;
  color:#888;
  width:400px;
  margin-left: 50%;
  text-align:center;
}

input{
  font-weight:300;
  border:0;
  border-bottom:1px solid #D35400;
  width:100%;
  height:30px;
  font-size:1em;
  padding-left: .3em;
}

input:focus{
  outline:none;
  box-shadow:none;
  background:#ffeae2;
}

button{
  border:0;
  background:transparent;
  padding:2px;
  margin-top:100px;
  position:relative;
}

.buttonafter:after{
	content:'';
	display:block;
	position:absolute;
	top:8px;
	left:100%; /*should be set to 100% */
	width:0;
	height:0;
	border-color: transparent transparent transparent #14a03d; /*border color should be same as div div background color*/
	border-style: solid;
	border-width: 5px;

}

.forgot{
	margin-top: 2em;
	font-size: .7em;
	padding: .2em;
	background:#a0a0a0;
	color:#fff;
	float:left;
}

.loginSignIn{
	margin-top: 2em;
	font-size: .7em;
	padding: .2em;
	background:#a0a0a0;
	color:#fff;
	float:right;
}